{% extends "base.html" %}
{% block content %}
    <h4>Article URL</h4>
    <a href="{{ object.pmc_article.url }}">{{ object.pmc_article.url }}</a><br/>
    <h4>Article Title:</h4>
    {{ object.pmc_article.title }}<br/>
    <h4>Author:</h4>
    {{ object.pmc_article.author }}<br/>
    {{ object.pmc_article.author_email }}
    <h4>Request Made:</h4>
    {{ object.request_timestamp }}
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Email Author" />
    </form>

{% endblock %}
