{% extends "base.html" %}
{% block content %}
<table class="table table-striped">
<thead>
<tr>
<th>Article</th>
<th>Request Submitted</th>
<th>Article Accepted?</th>
<th>Author Email</th>
<th>Email Sent</th>
</tr>
</thead>
<tbody>
{% for request in object_list %}
    <tr>
        <td><a href="{{ request.pmc_article.url }}">{{ request.pmc_article.title }}</a></td>
        <td>{{ request.request_timestamp }}</td>
        <td>{{ request.article_accepted }}</td>
        <td>{{ request.pmc_article.corresp_email }}</td>
        <td>{{ request.email_sent_timestamp }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
